body{
  overflow: hidden;
  overflow-y: scroll;
  background: url("img/edited.png") no-repeat top, url("img/scribble.png");
  /* background-repeat: no-repeat;*/
  background-size: 700px, cover;
  /*background-position: top; */
}

/* Intended for desktop style */
@media screen and (min-width: 800px) {

  html {
    cursor: url('img/pencil-solid2.png'), auto;
  }
   
  .button-box{
    position: absolute;
    top: 50%;
    right: 0;
    text-align: right;
    z-index:100;
  }

  .button-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  button{
    align-self: flex-end;
    background-color: #ff9900;
    font-family: 'Open Sans';
    font-size: 30px;
  }

  .container {
    z-index: -11;
    position: absolute;
  }

  .wrapper {
    z-index: -111;
    margin: 0 auto;
    position: absolute;
  }
  .row {
    display: flex;
    flex-direction: row;
    height: 50vh;
  }
  
  .column {
    flex-basis: 100%;
  }
  
  .one {
    font-family: 'Open Sans';
    font-size: 150px;
    text-shadow: 10px 10px #ff9900;
  }
  
  .two {
    font-family: 'Open Sans';
    font-size: 30px;
    padding-top: 10px;
    text-shadow: 10px 10px #ff9900;
    text-align: center;
    margin-top: 250px;
  }
  
  .three {
    font-family: 'Open Sans';
    font-size: 30px;
    padding-top: 10px;
    text-shadow: 10px 10px #ff9900;
  }
  
  .four {
    font-family: 'Open Sans';
    font-size: 80px;
    text-shadow: 10px 10px #ff9900;
    margin-top: calc(100vh - 78vh);
  }
  
  .four-second {
    font-family: 'Open Sans';
    font-size: 80px;
    text-shadow: 10px 10px #ff9900;
  }
  
  .five {
    font-family: 'Open Sans';
    font-size: 150px;
    text-shadow: 10px 10px #ff9900;
  }
  
  .six {
    font-family: 'Open Sans';
    font-size: 30px;
    text-shadow: 10px 10px #ff9900;
    margin-top: calc(100vh - 60vh);
  }
  
  .seven {
    font-family: 'Open Sans';
    font-size: 60px;
    text-shadow: 10px 10px #ff9900;
    position: relative;
    margin-top: calc(100vh - 65vh);
  }
  
  
  .eight {
    font-family: 'Open Sans';
    font-size: 30px;
    transform: rotate(-15deg);
    text-shadow: 10px 10px #ff9900;
    /* background-color: aqua; */
    margin-top: calc(100vh - 70vh);
  }
}

/* Intended for mobile style */
@media only screen and (max-width: 800px) {
     
  .button-box{
    position: absolute;
    top: 75%;
    right: 0;
    text-align: right;
    z-index:100;
  }

  .button-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  button{
    align-self: flex-end;
    background-color: #ff9900;
    font-family: 'Open Sans';
    font-size: 30px;
  }

  .container {
    z-index: -11;
    position: absolute;
  }

  .wrapper {
    z-index: -111;
    margin: 0 auto;
    position: absolute;
  }

  .one {
    font-family: 'Open Sans';
    font-size: 20vw;
    text-shadow: 10px 10px #ff9900;
    margin-top: 250px;  
  }
  
  .two {
    font-family: 'Open Sans';
    font-size: 5vw;
    padding: 2vh;
    padding-top: 3vh;
    text-shadow: .8vw .8vw #ff9900;
    text-align: center;
  }
  
  .three {
    font-family: 'Open Sans';
    font-size: 5vw;
    padding: 2vh;
    text-shadow: .8vw .8vw #ff9900;
  }
  
  .four {
    font-family: 'Open Sans';
    font-size: 10vw;
    text-shadow: 10px 10px #ff9900;
    padding-top: 3vh;
  }
  
  .four-second {
    font-family: 'Open Sans';
    font-size: 10vw;
    text-shadow: 10px 10px #ff9900;
  }
  
  .five {
    font-family: 'Open Sans';
    font-size: 20vw;
    text-shadow: 10px 10px #ff9900; 
  }
  
  .six {
    font-family: 'Open Sans';
    font-size: 5vw;
    text-shadow: .8vw .8vw #ff9900;
    padding: 2vh;
    padding-top: 3vh;
  }
  
  .seven {
    font-family: 'Open Sans';
    font-size: 5vw;
    text-shadow: .8vw .8vw #ff9900;
    position: relative;
    padding: 2vh;
  }
  
  
  .eight {
    font-family: 'Open Sans';
    font-size: 5vw;
    transform: rotate(0deg);
    text-shadow: .8vw .8vw #ff9900;
    padding: 2vh;
  }

  .column {
    flex-basis: 100%;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
}
