
body{
    background-color: rgb(255, 174, 0);
}
  .container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 50vh;
    position: relative;
  }
  
  .box {
    flex: 1 1;
    overflow: hidden;
    transition: .5s;
    position: relative;
    display: inline-block;
  }

  .box > img {
    width: 200%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

  .box:hover .text {
    opacity: 1;
  }

  .box .text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    vertical-align: middle;
    font-size: 3.1vmax;
    color: white;
    white-space: initial;
    text-overflow: ellipsis;
  }   
