body{
  overflow: hidden;
}

.layer1 {
  z-index: 3;
}

.layer2 {
  z-index: 4;
  color: orange;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 250px;
  
}
.one {
  font-family: 'Open Sans';
  font-size: 150px;
  text-shadow: 10px 10px #ff9900;
}
.two {
  font-family: 'Open Sans';
  font-size: 25px;
  padding-top: 10px;
  align-self: end;
  text-shadow: 10px 10px #ff9900;
}
.three {
  font-family: 'Open Sans';
  font-size: 15px;
  padding-top: 10px;
  text-shadow: 10px 10px #ff9900;
}
.four {
  font-family: 'Open Sans';
  font-size: 80px;
  text-shadow: 10px 10px #ff9900;
}
.five {
  position:relative;
  font-family: 'Open Sans';
  font-size: 120px;
  text-shadow: 10px 10px #ff9900;
}

.six {
  font-family: 'Open Sans';
  font-size: 20px;
  text-shadow: 10px 10px #ff9900;
}

.seven {
  font-family: 'Open Sans';
  font-size: 30px;
  text-shadow: 10px 10px #ff9900;
}

.eight {
  font-family: 'Open Sans';
  font-size: 20px;
  transform: rotate(-45deg);
  text-shadow: 10px 10px #ff9900;
}

.container {
  z-index: 1;
  position: absolute;
}

img {
  transform: rotate(-180deg);
}


@media screen and (max-width: 768px){
    body{
       overflow-y: scroll;
    }
    .wrapper{
      grid-row-gap:10px;
    }

    .eight {
      transform: rotate(0deg);
    }
}